<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nwto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".util.JobReceiver"/>
        <activity
            android:name=".NavigationActivity"
            android:label="Home" />
        <activity
            android:name=".LoginActivity"
            android:label="Login to NWTO app"/>
        <activity
            android:name=".RegisterUserActivity"
            android:label="Register New Account"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ProfileUpdateActivity"
            android:label="Update / Settings"
            android:parentActivityName=".ProfileActivity" />

        <activity
            android:name=".DiscussionActivity"
            android:label="Discussion Board"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".DiscussionDetailActivity"
            android:label="Discussion Detail"
            android:parentActivityName=".DiscussionActivity" />
        <activity
            android:name=".DiscussionPostActivity"
            android:label="Make a New Post"
            android:parentActivityName=".DiscussionActivity" />
        <activity
            android:name=".NeighboursActivity"
            android:label="My Neighbours"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".AddNeighbourActivity"
            android:label="Add a new Contact"
            android:parentActivityName=".NeighboursActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditNeighbourActivity"
            android:label="Editing Neighbour"
            android:parentActivityName=".NeighboursActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SendSMSActivity"
            android:label="Write a new Message"
            android:parentActivityName=".NeighboursActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SendEmailActivity"
            android:label="Write a new Email"
            android:parentActivityName=".NeighboursActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".CrimeStatsActivity"
            android:label="Crime Stats"
            android:parentActivityName=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactsActivity"
            android:label="Contacts"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ResourcesActivity"
            android:label="Resources"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".NavigationActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>