<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nwto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiscussionActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".SendSMSActivity" />
        <activity
            android:name=".CrimeStatsActivity"
            android:label="Crime Stats"
            android:screenOrientation="portrait"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ResourcesActivity"
            android:label="Resources"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name=".SendEmailActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".NeighboursActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".ProfileUpdateActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>